
/* TODO: move in styled-components */
button:not([disabled]) {
  cursor: pointer;
}

.years-text {
  display: inline-flex;
  position: relative;
}


.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 530px;
  border-radius: 100%;
  border: 1px solid #E3E6ED;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.circle>.years-text {
  font-size: 200px;
  text-wrap: nowrap;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 160px;
  transform: translateX(-16px);
}

.circle>.years-text>mark:first-child {
  color: #5D5FEF;
  background: none;
}

.circle>.years-text>mark:last-child {
  color: #EF5DA8;
  background: none;
}

.circle-items {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-action-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
}

.circle-action-buttons>span {
  line-height: auto;
  font-size: 14px;
  color: #42567A;
  height: 18px;
}

.circle-action-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  gap: 20px;
  padding-left: 80px;
  /* TODO: fix block position */
  margin-top: calc(-48px);
}

.circle-action-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9BA6BA;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.circle-action-buttons button:last-child {
  transform: rotate(180deg);
  color: #9BA6BA;
}

.circle-action-buttons>div {
  display: flex;
  gap: 20px;
}

.swiper-slide-card>h2.title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  color: #3877EE;
  line-height: 120%;
  font-size: 25px;
  margin: 0;
}

.swiper-slide-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.swiper-slide-card>.description {
  color: #42567A;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  /* NOTE: in case if swiper card description needs to be truncated */
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; */
}

.swiper-container {
  padding: 56px 80px 0 80px;
}

.line-vertical {
  position: absolute;
  min-height: 100%;
  border-right: 1px solid #E3E6ED;
  left: 50%;
  top: 0;
}

.line-horizontal {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #E3E6ED;
  /* top: 0; */
  bottom: calc(530px / 2);
}

.layout {
  margin: 0 160px 0 320px;
  height: 100%;
  border-left: 1px solid #E3E6ED;
  border-right: 1px solid #E3E6ED;
  /* min-height: 100vh; */
}

/* EventYear comnponent styles */

.year {
  /* prevents messing around with text on user-select (breaks text placement on text select with keyboard) */
  user-select: none;
  display: flex;
  line-height: 1;
}

.digit {
  width: calc(1ch - 0.02em);
  height: 1em;
  overflow: hidden;
  position: relative;
}

.digit-stack {
  display: flex;
  flex-direction: column;
}

.digit-stack span {
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}