button:not([disabled]) {
  cursor: pointer;
}

main {
  margin: 0 160px 0 320px;
  height: 100%;
  border-left: 1px solid #E3E6ED;
  border-right: 1px solid #E3E6ED;
}

.swiper-container>.swiper:last-child .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px !important;
  height: 6px;
  cursor: pointer;
  border-radius: 100%;
  background: #E9EBF1;
}
.swiper-container>.swiper:last-child .swiper-slide.swiper-slide-thumb-active {
  background: #D8DBE5;
}

.next-slide-button {
  position: absolute;
  right: 0px;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: white;
  border: none;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 768px){
  main {
    padding: 20px;
    margin: 0;
    margin-top: 59px;
    border: none;
    height: 100%;
  }

  .next-slide-button {
    display: none;
  }

  .prev-slide-class, .next-slide-class {
    opacity: .4;
  }

  .swiper-container>.swiper:last-child {
    display: block;
    margin-top: 103px;
  }
  .next-slide-button-container {
    display: none;
  }
}
